<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hotcar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hotcarWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AE0938F2F5F1D0500074882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE778232F5EFC05003AB48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE778302F5EFC06003AB48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE7783A2F5EFC06003AB48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
